.estadistica--articulos
  height: 7rem
  padding: 2rem
  border-top: 0.1rem solid opacidad(color-primario, .65)
  ul
    display: flex
    margin: 0
    padding: 0
    justify-content: space-evenly
    li
      list-style: none
      color: opacidad(color-primario, .65)
    span
      margin-left: 1rem